.button {
  width: 15rem;
  font-family: inherit;
  background-color: $theme-white;
  padding: 1rem 2rem;
  border: 1px solid $theme-grey-dark;
  border-radius: $default-border-radius;
  font-weight: 500;

  &--register {
    margin-top: 2rem;
    background-color: $theme-grey-dark;
    color: $theme-white;

    &:hover {
      cursor: pointer;
      background-color: $theme-white;
      color: $theme-grey-dark;
    }
  }
}