.checkout-item {
  // border: 2px solid green;
  display: flex;
  justify-content: space-between;
  padding: 1.75rem 0;
  border-bottom: 1px solid $theme-grey-light;

  &__left, &__right {
    display: flex;
  }
  
  &__left {
    width: 52%;
    // border: 5px solid orange;
    
    & div {
      width: 50%;
    }
  }
  
  &__right {
    width: 47%;
    // border: 1px solid pink;
    & div {
      width: 45%;
      &:last-of-type {
        width: 25%;
      }
    }
  }

  &__column {
    display: flex;
    align-items: center;
    // border: 1px solid yellow;
    padding-left: 1rem;
    
    &--image-container {
      display: flex;
      // border: 2px solid red;
      padding-left: 0;
      // width: 50%;
    }
    &--image {
      padding-left: 0;
      height: 16rem;
      // border: 2px solid green;
      width: 90%;
      object-fit: cover;
      object-position: center;
    }
    &--description {
      // border: 2px solid blue;
      // border: 2px solid orange;
      display: flex;
      align-items: center;
      padding-right: 3rem;
      // box-sizing: border-box;
    }
    &--quantity,
    &--price {
      font-size: 1.75rem;
    }

    &--remove {
      font-size: 3.5rem;
      font-weight: 200;

      span:hover {
        cursor: pointer;
        color: $error-red;
      }
    }
  }

  &__quantity-icon {
    font-size: 2rem;
    color: $theme-grey-light;
    // border: 2px solid orange;

    &:hover {
      color: $theme-grey-dark;
      cursor: pointer;
    }
  }

  &__quantity-value {
    // border: 2px solid orangered;
    width: 3rem;
    text-align: center;
  }

 
}

@media (max-width: 500px) {
  .checkout-item {
    flex-direction: column;
    align-items: center;

    &__left, &__right {
      & > div {
        width: 100%;
      }
    } 
    
  }
}