.payment {
  // border: 2px solid orange;
  // position: absolute;
  height: 100vh;
  width: 100vw;
  // background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__form {
    border: 1px solid $theme-grey-light;
    border-radius: $default-border-radius;
    width: 35rem;
    margin-top: 2rem;
    padding: 2rem;
  }

}