.product-card {
  // border: 2px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 30rem;

  &:not(:first-of-type) {
    margin-left: 1.5rem;
  }
  
  &:not(:last-of-type) {
    margin-right: 1.5rem;
  }

  &__image {
    width: 30rem;
    height: 35rem;
    object-fit: cover;
    object-position: center;
  }

  &__product-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: .5rem 0;
    padding: 0 .5rem;
    // border: 2px solid green;
  }
  
  &__product-name {
    font-weight: 500;
    font-size: $default-font-size;
    max-width: 80%;
    // border: 2px solid pink;
  }
  
  &__product-price {
    font-weight: 300;
    font-size: $default-font-size;
    align-self: center;
  }
  
  &:hover &__image {
    transition: filter .3s ease-in-out;
    filter: brightness(75%);
  }
  
  &__button {
    position: absolute;
    bottom: 20%;
    background-color: rgba($theme-white, .85);
    opacity: 0;
    // width: 15rem;

    &:hover {
      background-color: rgba($theme-grey-dark, .9);
      color: $theme-white;
    }
  }

  &:hover &__button {
    opacity: 1;
  }

}


@media (max-width: 1400px) {
  .product-card {

    &__image {
      width: 23rem;
      height: 26rem;
      // border: 2px solid orange;
    }

    &__button {
      width: 17rem;
      font-size: 1.25rem;
      bottom: 24%;
      padding: 1.5rem 2rem;
    }
  }
}