.product-group {
  display: flex;
  margin-bottom: 3rem;

  &--individual {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 3rem;
  }
}

@media (max-width: 1950px) {
  .product-group--individual { grid-template-columns: repeat(5, 1fr) }
}

@media (max-width: 1650px) {
  .product-group--individual { grid-template-columns: repeat(4, 1fr) }
}

@media (max-width: 1150px) {
  .product-group--individual { grid-template-columns: repeat(3, 1fr) }
}

@media (max-width: 900px) {
  .product-group--individual { grid-template-columns: repeat(2, 1fr) }
}

@media (max-width: 575px) {
  .product-group--individual { grid-template-columns: 1fr }
}

